<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
	<div>
		<form>
			<span>Cerca</span>
			<input type="text" name="name">
			<input type="submit">
		</form>
		
		<p th:if="${pizze.size()} == 0">
			non ci sono pizze
		</p>
		
		<ul th:if="${pizze.size()} > 0">
			<li th:each="pizza : ${pizze}">
				<a th:href="'/pizza/' + ${pizza.getId()}">
					[[${pizza.getName()}]]
					<img th:src="${pizza.getPicture()}" style="width: 50px;">
				</a>
				[[${pizza.getOverview()}]]
				[[${pizza.getPrice()}]] $$$
			</li>
		</ul>
		
	</div>
</body>
</html>